extends default

block content
  div.container
    table
      thead
        tr
          th.db-content-level-index Index
          th.db-content-level-name Name
          th.db-content-level-difficulty Difficulty
          th.db-content-level-scores Entries
      tbody
        each entry in entries
          tr
            th.db-content-level-index #{entry.placement}
            th.db-content-level-name
              a(href=`/level/${entry.level_id}`) #{entry.cached_display_name}
            th.db-content-level-difficulty #{entry.difficulty}
            th.db-content-level-scores #{entry.score_count}
        else
          p No levels to display
  include paginator